name: Build Android APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: [ ubuntu-latest ]
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
          cache: 'gradle'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Build
        run: ./gradlew :composeApp:assembleBenchmark --no-daemon
      - name: Archive APK
        uses: actions/upload-artifact@v5
        with:
          name: mani-android
          retention-days: 1
          path: |
            composeApp/build/outputs/apk/**/*.apk
