name: Deploy

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: [ ubuntu-latest ]
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5

      - name: Setup kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: 'latest'

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build
        run: ./gradlew :server:publishImage --no-configuration-cache --no-daemon
        env:
          ORG_GRADLE_PROJECT_BUILD_NUMBER: ${{ github.run_number }}
          ORG_GRADLE_PROJECT_REGISTRY_HOSTNAME: ${{ vars.REGISTRY_HOSTNAME }}
          ORG_GRADLE_PROJECT_REGISTRY_USERNAME: ${{ secrets.REGISTRY_USERNAME }}
          ORG_GRADLE_PROJECT_REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Configure Kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBE_CONFIG_DATA }}" | base64 -d > ~/.kube/config

      - name: Apply deployment
        env:
          buildnumber: ${{github.run_number}}
        run: |
          envsubst < .k8s-templates/deployment.yaml > .k8s/deployment.yaml
          kubectl apply -f .k8s/
