name: Test

on:
  pull_request:
    branches: [ "main" ]

jobs:
  test-common:
    runs-on: [ ubuntu-latest ]
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: 21
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Run tests
        run: ./gradlew :shared:jvmTest :server:test :composeApp:desktopTest :composeApp:wasmJsTest --no-daemon
      - name: Summarize tests results
        uses: jeantessier/test-summary-action@v1.0.6
        if: ${{ always() }}

  test-android:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        api-level: [ 24, 29 ]
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm  

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: 21
          cache: gradle

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: AVD cache
        uses: actions/cache@v4
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-${{ matrix.api-level }}

      - name: Run tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api-level }}
          force-avd-creation: false
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          script: ./gradlew :composeApp:connectedAndroidTest

      - name: Summarize tests results
        uses: jeantessier/test-summary-action@v1.0.6
        if: ${{ always() }}

  test-ios:
    runs-on: macos-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: 21
          cache: gradle
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Start simulator
        uses: futureware-tech/simulator-action@v4
        with:
          model: 'iPhone 15'
      - name: Run tests
        run: ./gradlew :composeApp:iosSimulatorArm64Test